[submodule "cadical"]
	path = cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "lingeling"]
	path = lingeling
	url = https://github.com/arminbiere/lingeling.git
[submodule "Paracooba"]
	path = Paracooba
	url = https://github.com/maximaximal/Paracooba.git
	branch = master
